#dashGoalGridCur{
    margin: 10px 0;
}

.dash-goal-main-row {

}

.dash-day-row-goal{
    margin: 2px 2px 0px 2px;
    background-color: beige;
    clear: both;
    overflow: auto;
    padding: 3px 5px;
    border: 1px #E1FFEC solid;
}
.dash-day-row-goal-info, .dash-day-row-goal-result {
    margin: 0px 2px 2px 2px;
    background-color: beige;
    clear: both;
    padding: 3px 5px;
    border: 1px #E1FFEC solid;
    border-top: none;
    overflow: hidden;
    display: none;
}
.result-info {
    color: #333ba9;
    background-color: #eae5f2;
    border-color: #b9b4eb;
    margin-bottom: 1px;
    padding-left:3px;
}

.result-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 1px;
    padding-left:3px;
}

.result-success {
    color: #4fa944;
    background-color: #d0f2c8;
    border-color: #c7ebc8;
    margin-bottom: 1px;
    padding-left:3px;
}

.dash-day-goal-checked{
    padding: 0 5px;

    display: inline-block;
    float: left;
    margin-right: 4px;
    border-right: 1px #ccc solid;
}

.dash-day-goal-img{
    display: inline-block;
    float: left;
    width: 30px;
}

.dash-day-goal-name{
    display: inline-block;
}

.dash-day-goal-progress{
    display: inline-block;
    float: right;
    width: 80px;

    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

.dash-day-goal-description{
    display: inline-block;
    float: right;
    width: 50px;
}

.goal-timeline-table {
    width: 100%;
    max-width: 100%;
    margin: 20px 0px;
}

.goal-timeline-table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    background-color: #d2ffca;
    border: 1px #ccc solid;
    cursor: pointer;
}
.goal-timeline-table td:hover {
    background-color: #82ae79;
}
.goal-timeline-table td.active {
    color: #73ff6b;
    background-color: #0a2b1d;
    border: 1px #83cc76 solid;
}

.goal-timeline-table td a{
    width: 100%;
    height: 100%;
    display: block;
}

.goal-timeline-table td.active a{
    color: #44973f;
}


.goal-timeline-table td.now {
    background-color: #b2ffaa;
}

.goal-result-row-success {
    background-color: #c9ffd3;
}
.goal-result-row-unsuccess {
    background-color: #FFDDDD;
}

.progressbar {
    background-color: #FFD8A7;
}

.progressbar > div {
    background-color: green;
    height: 2px;
    transition: width 1000ms ease-in-out;
    -moz-transition: width 1s ease-in-out 0.1s;
    -webkit-transition: width 1s ease-in-out 0.1s;
}

.progressbar-light {
    background-color: #ffffff;
}

.progressbar-light > div {
    background-color: #57BD00;
    height: 1px;
    transition: width 1500ms ease-in-out;
}


.dashGoalWeekMain {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}
.dashGoalWeekday{
    margin: 3px;
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 4px;
    width: 120px;
}

.dashGoalWeekday.red{
    border: 1px #cc9ea8 solid;
}

.dashGoalWeekday.now{
    border: 2px #7375cc solid;
}
.dashGoalWeekday.curdate{
    border-width: 2px;
    background-color: #d0ffc2;
}

.dashGoalWeekGoalRow{
    overflow-x: hidden;
}
.dashGoalWeekDayName{
    white-space: nowrap;
    font-size: 12px;
}