.day-of-week {
    width: 45px;
    background-color: beige;
    padding: 0px 2px;
    margin: 0px 2px;
    border: 1px #b2ffb5 solid;
    color: #04680a;
    float: left;
}
.day-of-week-br {
    width: 45px;
    background-color: beige;
    padding: 0px 2px;
    margin: 0px 2px;
    border: 1px #b2ffb5 solid;
    color: #04680a;
    float: left;
    clear: left;
}

.day-of-week-red {
    width: 45px;
    background-color: beige;
    padding: 0px 2px;
    margin: 0px 2px;
    border: 1px #ffcfce solid;
    color: #68191d;
    float: left;
}


