table.goal-calendar-table {
    border-spacing: 2px;
    border-collapse: separate;
}

th.goal-calendar-ceil {
    border: 1px solid #E0E4EF;
    cursor: pointer;
    background: none repeat scroll 0 0 #e3ecfc;
    width: 14%;
    height: 40px;
    vertical-align: top;
    padding: 3px;
}

td.goal-calendar-ceil {
    border: 1px solid #E0E4EF;
    cursor: pointer;
    background: none repeat scroll 0 0 #FCF5EE;
    width: 110px;
    height: 100px;
    vertical-align: top;
    padding: 3px;

    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}


.goal-calendar-filter .form-control {
    height: auto;
}

th.goal-calendar-ceil.weekend {
    background: none repeat scroll 0 0 #cbfccc;
}
td.goal-calendar-ceil.weekend {
    background: none repeat scroll 0 0 #FFE2E2;
}

td.goal-calendar-ceil:hover {
    border: 1px solid #C0C7FF;
    background: none repeat scroll 0 0 #d6d9fc;
}


.goal-calendar-date{
    color: #000;
    padding-left: 5px;
    font-weight: bold;
}


.goal-calendar-result-success {
    color: green;
    background-color: #c9ffc3;
}

.goal-calendar-result-fail {
    color: darkred;
    background-color: #ffbcc4;
}

.goal-calendar-result-quadro {
    float: left;
    width: 20px;
    height: 20px;
    margin: 1px;
    text-align: center;
    vertical-align: baseline;
    font-size: 10px;
    padding-top: 3px;
}


.goal-calendar-result-quadro.success {
    background-color: forestgreen;
    color: #fff;
}

.goal-calendar-result-quadro.fail {
    background-color: #ffcccc;
    color: red;
}

.goal-calendar-result-quadro.new {
    background-color: #C4FFC8;
    color: #ff7856;
}

.goal-calendar-result-quadro:hover {
    opacity: 0.5;
}







.goal-calendar-ceil.now{
    background-color: #d6d4ff;
    border: 2px #9b9ccc solid;
}


td.goal-calendar-ceil.disabled-day {
    border: 1px solid #eaefef;
    background: none repeat scroll 0 0 #DEDEDE;
    color: #777474;
}

canvas{
    width: 100% !important;
    max-width: 800px;
    height: 600px !important;
}