.navbar-brand{
    font-size: 23px;
    margin-right: 25px;
    color: rgb(0, 255, 27) !important;
}

.navbar-brand:hover{
    color: #ffff00 !important;
}

.menuUsername{
    color: white;
    font-weight: normal;
}
.menuUsername:hover{
    color: rgb(213, 162, 164);
}


#topMenu .fa{
    opacity: 0.7;
    color: lime;
}

.menuUserContButton{
    width: 95%;
}
.modalUserAuth {
    background-color: rgb(252, 252, 252);
}
.modalUserAuth .form-group{
    margin-bottom: 0;
}

.modalFormWrap{
    width: 350px;
    padding:10px;
}

.titleModalFormLogin{
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: 'robotobold',Arial;
    font-size: 20px;
    line-height: 30px!important;
    text-shadow: 0 1px 0 #fff;
    color: #BEBEBE;
    text-align: center;
}

.paddModalFormLogin{
    padding-top: 10px;
}

.modalLoginBorderRight{
    /*border-right: 1px #F0F0F0 solid;*/
}

.loginFormRowSocial{
    background-color: #000000;
    border-radius: 10px;
    margin: 0 -12px 4px -12px;
    padding: 0 30px 0 0;
    height: 65px;
    background: repeating-linear-gradient(
        -55deg,
        #000,
        #000 10px,
        #171717 10px,
        #171717 20px
    );
}

.loginFormRowSocial a{
    display: inline-block;
}


/* Modal Form  */

.modalUserAuth{
    padding: 10px;
}

.modalUserAuth.facebook {
    background-position: 0 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
}



.morph {
    z-index: 20;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.morph:hover {
    z-index: 20;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


.user-datetime{
    overflow: visible;
    font-size: 12px;
    color: white;
    margin-top: 5px;
}

#loginModal .modal-dialog {
    width: 415px;
    margin: 30px auto;
}

.margin-bottom-null{
    margin-bottom: 0px;
}

.recovery-link{
    margin-bottom: 3px;
}

.user-menu-right{
    width: 550px;
}


.nav-user-info{
    max-width: 250px;
}

.nav-login-link{
}
.nav-login-link a{
    float: right;
}

#menuPopupUser{
    min-width: 200px;
    overflow: hidden;
}


.off-logout{
    position: absolute;
    right: 0;
    top: 15px;
}

.nav-menu-user{
    margin-right: 10px;
    float: left;
}

.nav-menu-left{
    position: absolute;
}

.user-fio{
    font-size: 14px;
    color: rgb(191, 213, 182);
    line-height: 16px;
}
.nav-agent{
    position: relative;
    line-height: 16px;
}
.nav-user-department,.nav-user-department a{
    font-size: 14px;
    color: rgb(191, 213, 182);
    line-height: 16px;
}
.nav-user-department a:hover{
    color: rgb(132, 213, 123);
    text-decoration: none;
}

.nav-agent i{
    color: white;
}

.block-info-user{
    margin-right: 30px;
}