#dashGoalGridCur {
    margin: 10px 0;
}

.dash-goal-main-row {

}

.dash-goal-main-row small {
    font-size: 10px;
}

.dash-goal-main-row .goald-day-gallery-image {
    display: block;
    float: left;
    margin: 3px 1px;
}

.dash-goal-main-row canvas {
    position: absolute;
    width: 70%;
    height: 45px;
    margin-left: 13%;
    margin-top: 12px;
    opacity: 0.1;
    transition: opacity 0.5s ease;
}

.dash-goal-main-row canvas:hover {
    opacity: 0.5;
}

.dash-day-row-goal {
    margin: 2px 2px 0px 2px;
    background-color: beige;
    clear: both;
    padding: 3px 5px;
    border: 1px #E1FFEC solid;
    overflow: hidden;
}

.dash-day-row-goal-info, .dash-day-row-goal-result {
    margin: 0px 2px 2px 2px;
    background-color: beige;
    clear: both;
    padding: 3px 5px;
    border: 1px #E1FFEC solid;
    border-top: none;
    overflow: hidden;
    display: none;
}

.result-info {
    color: #333ba9;
    background-color: #eae5f2;
    border-color: #b9b4eb;
    margin-bottom: 1px;
    padding-left: 3px;
}

.result-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin-bottom: 1px;
    padding-left: 3px;
}

.result-success {
    color: #4fa944;
    background-color: #d0f2c8;
    border-color: #c7ebc8;
    margin-bottom: 1px;
    padding-left: 3px;
}

.dash-day-goal-checked {
    padding: 0 5px;

    display: inline-block;
    float: left;
    margin-right: 4px;
    border-right: 1px #ccc solid;
}

.dash-day-goal-img {
    display: inline-block;
    float: left;
    width: 30px;
    padding-top: 4px;
}

.dash-day-goal-name {
    display: inline-block;
}

.dash-day-goal-progress {
    display: inline-block;
    float: right;
    width: 80px;

    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

.dash-day-goal-description {
    display: inline-block;
    float: right;
    width: 50px;
}


.goal-result-row-success {
    background-color: #c9ffd3;
}

.goal-result-row-unsuccess {
    background-color: #FFDDDD;
}

.progressbar {
    background-color: #FFD8A7;
}

.progressbar > div {
    background-color: green;
    height: 2px;
    transition: width 1000ms ease-in-out;
    -moz-transition: width 1s ease-in-out 0.1s;
    -webkit-transition: width 1s ease-in-out 0.1s;
}

.progressbar-light {
    background-color: #ffffff;
}

.progressbar-light > div {
    background-color: #57BD00;
    height: 1px;
    transition: width 1500ms ease-in-out;
}

.dashGoalWeekMain {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}

.dashGoalWeekday {
    margin: 3px;
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 4px;
    width: 120px;
}

.dashGoalWeekday.red {
    border: 1px #cc9ea8 solid;
}

.dashGoalWeekday.now {
    border: 2px #7375cc solid;
}

.dashGoalWeekday.curdate {
    border-width: 2px;
    background-color: #d0ffc2;
}

.dashGoalWeekGoalRow {
    overflow-x: hidden;
}

.dashGoalWeekDayName {
    white-space: nowrap;
    font-size: 12px;
}

/** Switcher */
.onoffswitch {
    position: relative;
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-top: 5px
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 17px;
    padding: 0;
    line-height: 17px;
    font-size: 13px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "✔";
    padding-left: 5px;
    background-color: #34C258;
    color: #006D2D;
    font-size: 20px;
}


.onoffswitch-inner:after {
    content: "?";
    padding-right: 10px;
    background-color: #ffbf8b;
    color: #964300;
    text-align: right;
}

.goal-result-row-success .onoffswitch-inner:after, .goal-result-row-unsuccess .onoffswitch-inner:after  {
    content: "X";
    padding-right: 10px;
    background-color: #FFADAD;
    color: #960000;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 14px;
    margin: 1.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/** Other */
.width100 {
    width: 120px !important;
}


/** TimeLine */
.goalTimelineBlock {
    width: 100%;
    max-width: 100%;
    margin: 20px 0px;

    text-align: center;
}
.goalTimelineDay {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    background-color: #d2ffca;
    border: 1px #ccc solid;
    cursor: pointer;
}

.goalTimelineDay:hover {
    background-color: #82ae79;
}


.goalTimelineBlock .weekend{
    background-color: #F8FFC1;
}

.goalTimelineBlock .weekend:hover, .goalTimelineBlock .active:hover, .goalTimelineBlock .now:hover {
    background-color: #82ae79;
}

.goalTimelineBlock .active{
    color: #FFFFFF;
    background-color: #0EAB1A;
    border: 1px #83cc76 solid;
}
.goalTimelineBlock .now{
    background-color: #AADCFF;
    font-weight: bold;
    color: black;
}

