
.breadcrumb {
    /* position: absolute; */
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb a{
    opacity: 0.5;
}
.breadcrumb a:hover{
    opacity: 1;
}